<div>
  <div style='width: 600px;margin:auto'>
    <img  style='width: 600px' src="https://i2.wp.com/thesuburbansoapbox.com/wp-content/uploads/2016/01/The-BEST-Healthy-Recipes-Ever-700x700.jpg">
  </div>
  <h1 align="center">Welcome to Robust Recipes!</h1>
</div>